#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.movie {
  background-color: rgba(190, 20, 20, 0.524);
  color: white;
  padding: 10px 30px;
  margin: 10px;
}

.movie .h3 {
  display: inline-flex;
  font-weight: bolder;
  color: black;
}
